<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OG image</title>
  <link rel="stylesheet" href="/css/main.css">
  <style>
    html {
      font-size: 36px;
    }

    body, main {
      display: grid;
      place-content: center;
      padding: 0;
    }

    main {
      border: thin solid var(--full);
      height: 630px;
      width: 1200px;
    }

    h1 {
      color: white;
      font-size: 2em;
      grid-column: 1 / span 1;
    }

    p {
      padding-left: 3.25em;
      margin: 0;
    }
  </style>
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
