---
layout: base.njk
grid: writer
eleventyComputed:
  book: '{{ doc.data.title or doc.slug }}'
  title: 'Write {{ doc.data.title or doc.slug }}'
---

<label for="typr">
  Please write
  all <b>{{ doc.chars }}</b>
  characters of
  <i>{{ book }}</i>
  in order:
</label>
<textarea name="{{ doc.slug }}" id="typr"></textarea>
