---
layout: base.njk
grid: sidebar
eleventyComputed:
  book: '{{ doc.data.title or doc.slug }}'
  title: 'Write {{ doc.data.title or doc.slug }}'
  desc: |
    Write {{ doc.data.title or doc.slug }}
    {% if doc.data.author %}by {{ doc.data.author }}{% endif %}
    as though you are a monkey with infinite time,
    a keyboad, a a bit of help.
---

<textarea name="{{ doc.slug }}" id="typr" aria-labelledby="book" placeholder="..."></textarea>
<aside>
  <ul class="stats" role="list">
    <li>
      <strong>Target</strong>:
      <span data-target="{{ doc.chars }}">{{ doc.chars }}</span>
    </li>
    <li>
      <strong>Remaining</strong>:
      <span data-remaining>{{ doc.chars }}</span>
    </li>
    <li>
      <strong>Correct</strong>:
      <output data-correct>0</output>
    </li>
    <li>
      <strong>Wasted</strong>:
      <output data-wasted>0</output>
    </li>
    <li>
      <strong>Previous</strong>:
      <output data-previous>…</output>
    </li>
    <li>
      <output data-hint></output>
    </li>
  </ul>

  <div class="more">
    {% if doc.data.details %}
      <p>{{ doc.data.details | safe }}</p>
    {% endif %}

    <details data-drop="up left">
      <summary>wtf?!</summary>
      <div>
        All you have to do is type
        the right words in the right order.
        The spacebar handles all whitespace & punctuation.
      </div>
    </details>
  </div>
</aside>
