/* reset */
* {
  box-sizing: border-box;
  font: inherit;
}
body { margin: 0; }

/* fonts */
@font-face {
  font-family: dank;
  src: url('../fonts/DankMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: dank;
  src: url('../fonts/DankMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: dank;
  src: url('../fonts/DankMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* colors */
html {
  --blue: 180 4%;

  --dark: hsl(var(--blue) 10%);
  --light: hsl(var(--blue) 80%);

  --bg: var(--light);
  --text: var(--dark);
  --action: mediumvioletred;
  --full: white;
  --callout: hsl(0 0% 0% / 0.2);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--dark);
    --text: var(--light);
    --action: pink;
    --full: black;
  }
}

[data-mode=light] {
  --bg: var(--light);
  --text: var(--dark);
  --action: mediumvioletred;
  --full: white;
}

[data-mode=dark] {
  --bg: var(--dark);
  --text: var(--light);
  --action: pink;
  --full: black;
}

/* base */
html {
  background: var(--bg);
  color: var(--text);
  font-family: dank, 'Courier New', Courier, monospace;
  font-size: min(1em + 0.5vw, 1.5em);
  line-height: 1.3;
  height: 100%;
}

body {
  min-height: 100%;
  padding: 1em 0;
}

/* layout */
header,
footer,
main {
  padding: 0 1em;
}

.logo {
  filter: grayscale(var(--gray, 100%));
}

footer {
  align-items: center;
  display: grid;
  font-size: 0.8em;
  gap: 1em;
}

@media (min-width: 40em) {
  footer {
    grid-template-columns: 1fr auto;
  }
}

/* grids */
[data-grid] {
  --main: minmax(min-content, min(65ch, 100%));
  display: grid;
  gap: 1em;
  grid-template:
    'header' auto
    'main' 1fr
    'footer' auto
  / var(--columns, var(--main));
  justify-content: center;
}

[data-grid] > * {
  grid-column: 1 / -1;
}

[data-grid="sidebar"] main {
  display: grid;
  gap: inherit;
  grid-template-columns: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: var(--rows, 1fr auto);
}

@media (min-width: 50em) {
  [data-grid="sidebar"] {
    --rows: 1fr;
    --columns: var(--main) minmax(min-content, 15em);
    --bleed-right: 0;
  }
}

/* header */
h1 {
  font-weight: bold;
  grid-column-end: span 2;
  margin: 0;
}

/* links */
a:link,
a:visited {
  color: inherit;
}

a:hover,
a:focus,
a:active {
  --gray: 0;
  color: var(--action);
}

/* details */
summary {
  cursor: pointer;
  width: max-content;
}

[data-drop] {
  position: relative;
}

[data-drop] > div {
  background: var(--full);
  border: thin solid var(--text);
  padding: 1em;
  position: absolute;
  width: clamp(15em, 60vw, 20em);
}

[data-drop~='down'] > div {
  top: 100%;
}

[data-drop~='up'] > div {
  bottom: 100%;
}

[data-drop~='left'] > div {
  right: 0;
}

[data-drop~='right'] > div {
  left: 0;
}

/* forms */
label {
  cursor: pointer;
}

label,
textarea {
  display: block;
}

textarea {
  background: transparent;
  border: thin dashed;
  border-color: var(--text) transparent;
  color: inherit;
  margin: 0 var(--bleed-right, -1em) 0 var(--bleed-left, -1em);
  min-height: 20em;
  min-width: 100%;
  padding: 1em;
  resize: vertical;
}

textarea:focus {
  border-color: var(--text);
  outline: 0;
}

aside {
  background: var(--callout);
  display: grid;
  font-size: 0.8em;
  gap: 1em;
  grid-template-rows: 1fr auto;
  padding: 0.5rem;
}

.stats {
  margin: 0;
}

[data-hint] {
  display: block;
  margin: 1em 0;
  font-style: italic;
}

/* type */
b,
strong {
  font-style: normal;
  font-weight: var(--b, bold);
}

i,
em {
  font-style: var(--i, italic);
  font-weight: normal;
}

[role='list'] {
  list-style: none;
  padding: 0;
}

/* buttons */
button {
  background: var(--full);
  border: thin solid currentColor;
  border-radius: 0.25rem;
  color: inherit;
  cursor: pointer;
  padding: 0.125rem 0.5rem;
}

button:hover,
button:focus-visible {
  box-shadow: 0.125em 0.125em 0 black;
  color: var(--action);
}

button:focus-visible {
  outline: medium dashed var(--action);
  outline-offset: 0.25em;
}

button:active {
  box-shadow: 0 0 0.125em black inset;
}

[data-toggle]::after {
  content: ': ' attr(data-state);
  font-style: italic;
}
