/* reset */
* { box-sizing: border-box; }
body { margin: 0; }

/* fonts */
@font-face {
  font-family: dank;
  src: url('../fonts/DankMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: dank;
  src: url('../fonts/DankMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: dank;
  src: url('../fonts/DankMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* colors */
html {
  --blue: 180 4%;

  --dark: hsl(var(--blue) 15%);
  --light: hsl(var(--blue) 80%);

  --bg: var(--light);
  --text: var(--dark);
  --action: maroon;
  --full: white;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--dark);
    --text: var(--light);
    --action: pink;
    --full: black;
  }
}

[data-mode=light] {
  --bg: var(--light);
  --text: var(--dark);
  --action: maroon;
  --full: white;
}

[data-mode=dark] {
  --bg: var(--dark);
  --text: var(--light);
  --action: pink;
  --full: black;
}

/* base */
html {
  background: var(--bg);
  color: var(--text);
  font-family: dank, 'Courier New', Courier, monospace;
  font-size: min(1em + 0.5vw, 1.5em);
  line-height: 1.3;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

/* layout */
h1 {
  display: inline;
  font-size: inherit;
  margin: 0;
}

h1:not(:first-child) {
  font-style: italic;
}

header,
footer {
  background: var(--full);
  padding: 0.5em 1em;
}

footer {
  font-size: 0.8em;
  font-style: italic;
}

main {
  padding: 1em;
}

/* links */
a:link,
a:visited {
  color: var(--action);
}

/* forms */
label,
textarea {
  display: block;
}

textarea {
  background: hsl(0 0% 100% / 0.05);
  border: none;
  color: inherit;
  font: inherit;
  padding: clamp(0.25em, 5vw, 1em);
  width: 100%;
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 0.25em black inset;
}

/* grids */
[data-grid] {
  display: grid;
  gap: 1em;
}

[data-grid] > * {
  margin: 0;
}

[data-grid='writer'] {
  grid-template: auto 1fr / 100%;
}

/* type */
p {
  max-width: 65ch;
}

i, b {
  background: black;
}
