---
title: A Text Editor for Monkeys on Deadline
---

<p>
  A monkey hitting keys at random
  <em>for an infinite amount of time</em>
  will eventually want some help
  writing Hamlet (or whatever).
</p>

<p>
  <em>You're the monkey.
  We're here to help.</em>
</p>

<h2>What would you like to write?</h2>

{% if docs | length > 0 %}
  <ul>
    {% for item in docs | sort(false, false, 'slug') %}
      <li>
        <a href="/write/{{ item.slug }}/"><i>{{ item.data.title or item.slug }}</i></a>

        {% if item.data.author %}
          by {{ item.data.author }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
