
<p>
  A monkey hitting keys at random
  for an infinite amount of time
  will eventually want some help
  writing Hamlet (or whatever).
  <i>
    You're the monkey.
    We're here to help.
  </i>
  What would you like to write?
</p>

{% if docs | length > 0 %}
  <ul>
    {% for item in docs | sort(false, false, 'slug') %}
      <li>
        <a href="/write/{{ item.slug }}/"><i>{{ item.data.title or item.slug }}</i></a>

        {% if item.data.author %}
          by {{ item.data.author }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

